.jumbotron {
    background-color: yellowgreen;
    color: black;
}

.footer {
    padding: 10px  10px 0   10px;
    background-color: yellowgreen;
    margin-bottom: 0px;

}

.text-title{
  color:  blue;
}

.buttonspecial-button{
  transition-duration: 0.4s;
  border-radius: 50%;
  border: 2px solid #4CAF50;
}

.buttonspecial-button:hover{
  border-radius: 50%;
  border: 2px solid #4CAF50;
  background-color: #4CAF50; /* Green */
  color: white;
}